
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles.css">
</head>

<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;box-sizing:border-box;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
    <table class="body">
        <tbody>
            <tr style="padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <center data-parsed="" style="min-width:580px;width:100%">
                        <table align="center" class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px">
                            <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
<!-- <center> -->
<table>
  <tdbody>
    <tr>
      <th style="width:300px">
        <a href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Spalnya&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/logo-meblis.jpg" alt="" /></a>
      </th>
      <th style="width:300px">
        <ul class="contact-list">
          <li><img src="https://i.sofino.ua/files/mailings/20/ico-ks.png" alt="" /><a href="tel:380670074455"><span class="red-tel">(067)</span> 007-44-55</a></li>
          <li><img src="https://i.sofino.ua/files/mailings/20/ico-life.png" alt="" /><a href="tel:380932272756"><span class="red-tel">(093)</span> 227-27-56</a></li>
          <li><img src="https://i.sofino.ua/files/mailings/20/ico-vf.png" alt="" /><a href="tel:380951128288"><span class="red-tel">(095)</span> 112-82-88</a></li>
        </ul>
      </th>
    </tr>
  </tdbody>
 </table>


<!-- </center> -->
<!-- MENU START -->
<!-- <center> -->
<table style="width:600px;font-size:14px;background-color:#f8f8f8;">
	<tdbody>
		<tr>
			<th style="width:80px">
				<a href="https://meblis.ua/spalna-kimnata?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Spalnya&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/01.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Спальня</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/ditacha-kimnata?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Detskaya&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/02.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Дитяча</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/vitalna?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Vitalnya&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/03.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Вітальня</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/kuhonni-mebli?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Kyhnya&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/04.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Кухня</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/peredpokii?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Prihozhaya&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/05.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Передпокій</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:95px">
				<a href="https://meblis.ua/ofisni-mebli?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Ofisnue_mebli&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/06.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Офісні меблі</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/vanna-kimnata?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Vanna&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/07.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Ванна</span></a>
			</th>
		</tr>
	</tdbody>
</table>
<!-- </center> -->
<!-- 
background:#ff100d
10/delivery.png  56/promo.gif 60/dostavka.png

background:#0062c0
4/rassrochka-meb.png 56/dostavka.gif 60/akcii.png
 -->

<table style="width:600px;display:block;margin:0 auto;border-spacing:0">
	<tdbody>
			<th style="width:300px">
                <a href="https://meblis.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Akcii&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img class="p12" src="https://i.sofino.ua/files/mailings/20/promo.gif" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
                
			</th>
			<th style="width:300px">
				<a href="https://meblis.ua/article/1?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=Dostavka&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img class="p12" src="https://i.sofino.ua/files/mailings/20/delivery.gif" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
			</th>
		</tr>
	</tdbody>
</table> 

<!-- MENU END -->
<!-- CONTENT START -->                                        
<!-- <center> -->

<a href="https://meblis.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=banner&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/banner.jpg" alt="" /></a>

<p class="hn">КОМФОРТНИЙ ТА ПОВНОЦІННИЙ СОН</p>
<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/product-254?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=matras_praktik&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/010.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-666?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=matras_spice&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/011.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-506?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=matras_optima&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/012.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/matratsi-ortopedichni?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=vsi_matrasu&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" class="link-right">ВСІ МАТРАЦИ</a>

<p class="hn">ОБЕРИ НАЙКРАЩЕ ЛІЖКО!</p>
<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/product-119856?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=lizhko_eko&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/013.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-111844?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=lizhko_loreta&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/014.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-109442?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=lizhko_anna2&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/015.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/lizhka?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=vsi_lizhka&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" class="link-right">ВСІ ЛІЖКА</a>


<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:300px"><a href="https://meblis.ua/promotion/82?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=promo82&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/05.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:300px"><a href="https://meblis.ua/promotion/83?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=promo83&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/06.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>

<p class="hn">МІСЦЕ ДЛЯ ВАШИХ РЕЧЕЙ</p>
<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/product-7115?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=komod_koen&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/016.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-6272?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=komod_open&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/017.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-6847?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=shafa_pop&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/018.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/komody?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=vsi_komodu&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" class="link-right">ВСІ КОМОДИ</a>

<p class="hn">ВЕЛИКИЙ ВИБІР ДИВАНІВ!</p>
<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/product-68666?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=duvan_viktoriya&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/019.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-68652?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=duvan_valensiya&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/020.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-68778?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=divan_cezar&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/021.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/myaki-mebli?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=vsi_divanu&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" class="link-right">ВСІ ДИВАНИ</a>

<p class="hn">ДОСТУПНІ ЦІНИ НА ТЕКСТИЛЬ</p>
<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/product-15397?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=podyshka_edvise&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/022.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-10129?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=kovdra_litnya&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/023.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-10419?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=kovdra_dutyacha&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/024.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/tekstyl?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=textil&utm_campaign=Rassilka_M_Vesennyaya_22_03_17" class="link-right">ВЕСЬ ТЕКСТИЛЬ</a>

<table style="width:600px;margin-top:10px">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/promotion/75?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=promo75&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/07.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/promotion/79?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=promo79&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/08.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/promotion/81?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=promo81&utm_campaign=Rassilka_M_Vesennyaya_22_03_17"><img src="https://i.sofino.ua/files/mailings/20/09.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<!-- <span style="margin:20px 0;display:block">Ще більше пропозицій для вас на нашому сайті <a style="color:#2453ab" href="https://meblis.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-22-03-2017&utm_term=bolshe_tavorov&utm_campaign=Rassilka_M_Vesennyaya_22_03_17">meblis.ua</a></span> -->

<!-- </center> -->
<!-- CONTENT END -->
<!-- FOOTER START -->
<table style="background-color:#ebebeb;width:600px;display:block;margin: 0 auto">
 <tdbody>
  <tr>
   <th style="width:225px;padding:10px 0"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/meb.png" alt="" /></th>
   <th style="width:175px;padding:10px 0"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/t.png" alt="" /></th>
   <th style="width:150px;Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:10px 0;text-align:left"><img style="display: block;margin-left: auto;" src="https://i.sofino.ua/files/mailings/20/follow-us.png" alt="" style="margin:0 auto;padding-left:30px;-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto">
    	<a href="https://vk.com/meblis_ua" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/20/013.png" alt="" class="inb margin-img" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;margin-left:40px;margin-top:10px;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
    	<a href="https://www.facebook.com/meblis.ua" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/20/014.png" alt="" class="inb" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
    	<a href="https://www.instagram.com/meblis.ua" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/20/015.png" alt="" class="inb" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
	</th>
  </tr>
 </tdbody>
</table>
<!-- FOOTER END -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
<!--                 </td>
            </tr>
        </tbody>
    </table> -->
</body>

</html>

