
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="styles.css">
</head>

<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;box-sizing:border-box;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
    <table class="body">
        <tbody>
            <tr style="padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <center data-parsed="" style="min-width:580px;width:100%">
                        <table align="center" class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px">
                            <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
<!-- <center> -->
<table>
  <tdbody>
    <tr>
      <th style="width:300px">
        <a href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Spalnya&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/20/logo-meblis.jpg" alt="" /></a>
      </th>
      <th style="width:300px">
        <ul class="contact-list">
          <li><img src="https://i.sofino.ua/files/mailings/20/ico-ks.png" alt="" /><a href="tel:380670074455"><span class="red-tel">(067)</span> 007-44-55</a></li>
          <li><img src="https://i.sofino.ua/files/mailings/20/ico-life.png" alt="" /><a href="tel:380932272756"><span class="red-tel">(093)</span> 227-27-56</a></li>
          <li><img src="https://i.sofino.ua/files/mailings/20/ico-vf.png" alt="" /><a href="tel:380951128288"><span class="red-tel">(095)</span> 112-82-88</a></li>
        </ul>
      </th>
    </tr>
  </tdbody>
 </table>


<!-- </center> -->
<!-- MENU START -->
<!-- <center> -->
<table style="width:600px;font-size:14px;background-color:#f8f8f8;">
	<tdbody>
		<tr>
			<th style="width:80px">
				<a href="https://meblis.ua/spalna-kimnata?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Spalnya&utm_campaign=Rassilka_M_Boon_27_04_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/01.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Спальня</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/ditacha-kimnata?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Detskaya&utm_campaign=Rassilka_M_Boon_27_04_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/02.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Дитяча</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/vitalna?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Vitalnya&utm_campaign=Rassilka_M_Boon_27_04_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/03.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Вітальня</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/kuhonni-mebli?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Kyhnya&utm_campaign=Rassilka_M_Boon_27_04_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/04.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Кухня</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/peredpokii?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Prihozhaya&utm_campaign=Rassilka_M_Boon_27_04_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/05.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Передпокій</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:95px">
				<a href="https://meblis.ua/ofisni-mebli?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Ofisnue_mebli&utm_campaign=Rassilka_M_Boon_27_04_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/06.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Офісні меблі</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a href="https://meblis.ua/vanna-kimnata?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Vanna&utm_campaign=Rassilka_M_Boon_27_04_17" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/07.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Ванна</span></a>
			</th>
		</tr>
	</tdbody>
</table>
<!-- </center> -->
<!-- 
background:#ff100d
10/delivery.png  56/promo.gif 60/dostavka.png

background:#0062c0
4/rassrochka-meb.png 56/dostavka.gif 60/akcii.png
 -->

<table style="width:600px;display:block;margin:0 auto;border-spacing:0">
	<tdbody>
			<th style="width:300px">
                <a href="https://meblis.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Akcii&utm_campaign=Rassilka_M_Boon_27_04_17" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img class="p12" src="https://i.sofino.ua/files/mailings/31/promo.gif" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
                
			</th>
			<th style="width:300px">
				<a href="https://meblis.ua/article/1?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=Dostavka&utm_campaign=Rassilka_M_Boon_27_04_17" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img class="p12" src="https://i.sofino.ua/files/mailings/31/delivery.gif" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
			</th>
		</tr>
	</tdbody>
</table> 

<!-- MENU END -->
<!-- CONTENT START -->                                        
<!-- <center> -->
<a href="https://meblis.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=banner&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/05.png" alt="" /></a>

<p class="hn">Комфортний та повноцінний сон</p>


<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/product-101282?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=lizhko_roksana&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/06.png" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-70008?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=lizhko_selena&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/07.png" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-121732?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=lizhko_irena&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/08.png" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/lizhka/dvospalnli-lizhka?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=vsi_lizhka&utm_campaign=Rassilka_M_Boon_27_04_17" class="link-right">ВСІ ЛІЖКА</a>

<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/product-251?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=matras_praktik&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/09.png" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-661?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=matras_spice&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/010.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-503?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=matras_optima&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/011.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/matratsi-ortopedichni?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=vsi_matrasu&utm_campaign=Rassilka_M_Boon_27_04_17" class="link-right">ВСІ МАТРАЦИ</a>

<a href="https://meblis.ua/promotion/83?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=promo_83&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/024.jpg" alt="" /></a>


<table style="width:600px;margin:1px auto 10px">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/promotion/104?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=promo_104&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/018.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/promotion/87?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=promo_87&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/019.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/promotion/94?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=promo_94&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/020.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>

<p class="hn">Місце для ваших речей</p>
<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/product-6998?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=komod_raflo&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/012.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-28830?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=shafa_persei&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/013.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-120893?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=shafa_kytova&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/014.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/komody?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=vsi_komodu&utm_campaign=Rassilka_M_Boon_27_04_17" style="margin-left: 10px" class="link-left">ВСІ КОМОДИ</a></td>
			<td style="width:200px"><a href="https://meblis.ua/shafy-dlya-odyahu-shafi-kupe?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=vsi_shafu_kype&utm_campaign=Rassilka_M_Boon_27_04_17" style="margin-left: 23px" class="link-left">ВСІ ШАФИ-КУПЕ</a></td>
			<td style="width:200px"><a href="https://meblis.ua/shafi-dla-odiagu?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=vsi_shafu&utm_campaign=Rassilka_M_Boon_27_04_17" style="margin-left: 28px" class="link-left">ВСІ ШАФИ</a></td>
		</tr>
	</tdbody>
</table>

<p class="hn">Обери диван для всієї родини</p>
<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/product-4401_36285?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=divan_chester&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/015.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-4191_56151?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=duvan_pianino&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/016.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/product-4384_36681?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=divan_rio_blyuz&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/017.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/myaki-mebli?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=vsi_duvanuy&utm_campaign=Rassilka_M_Boon_27_04_17" class="link-right">ВСІ ДИВАНИ</a>

<table style="width:600px;margin:10px auto 1px">
	<tdbody>
		<tr>
			<td style="width:200px"><a href="https://meblis.ua/promotion/90?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=promo_90&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/021.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/promotion/101?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=promo_101&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/022.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:200px"><a href="https://meblis.ua/promotion/99?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=promo_99&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/023.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/promotion/103?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=promo_103&utm_campaign=Rassilka_M_Boon_27_04_17"><img src="https://i.sofino.ua/files/mailings/31/025.jpg" alt="" /></a>

<div style="color:#1b70cf;display:block;margin:12px 0">
  Більше акційних пропозицій на нашому сайті <a style="color:#1b70cf;text-decoration:underline;font-weight:600" href="https://meblis.ua">meblis.ua</a>
</div>

<!-- <span style="margin:20px 0;display:block">Ще більше пропозицій для вас на нашому сайті <a style="color:#2453ab" href="https://meblis.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-27-04-2017&utm_term=bolshe_tavorov&utm_campaign=Rassilka_M_Boon_27_04_17">meblis.ua</a></span> -->

<!-- </center> -->
<!-- CONTENT END -->
<!-- FOOTER START -->
<table style="background-color:#ebebeb;width:600px;display:block;margin: 0 auto">
 <tdbody>
  <tr>
   <th style="width:225px;padding:10px 0"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/meb.png" alt="" /></th>
   <th style="width:175px;padding:10px 0"><img style="margin:0 auto" src="https://i.sofino.ua/files/mailings/20/t.png" alt="" /></th>
   <th style="width:150px;Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:10px 0;text-align:left"><img style="display: block;margin-left: auto;" src="https://i.sofino.ua/files/mailings/20/follow-us.png" alt="" style="margin:0 auto;padding-left:30px;-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto">
    	<a href="https://vk.com/meblis_ua" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/20/013.png" alt="" class="inb margin-img" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;margin-left:40px;margin-top:10px;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
    	<a href="https://www.facebook.com/meblis.ua" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/20/014.png" alt="" class="inb" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
    	<a href="https://www.instagram.com/meblis.ua" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/20/015.png" alt="" class="inb" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
	</th>
  </tr>
 </tdbody>
</table>
<!-- FOOTER END -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
<!--                 </td>
            </tr>
        </tbody>
    </table> -->
</body>

</html>

