<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" href="styles.css">
   </head>
   <body>
   <center>
      <table>
         <tr>
            <td>
 <table>
  <tdbody>
    <tr>
      <th style="width:300px">
        <a href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Logo&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/logo.png" alt="" /></a>
      </th>
      <th style="width:300px">
        <ul class="contact-list">
          <li><img src="https://i.sofino.ua/files/mailings/22/ico-ks.png" alt="" /><a href="tel:380675550422"><span class="red-tel">(067)</span> 555-04-22</a></li>
          <li><img src="https://i.sofino.ua/files/mailings/22/ico-life.png" alt="" /><a href="tel:380939764147"><span class="red-tel">(093)</span> 976-41-47</a></li>
          <li><img src="https://i.sofino.ua/files/mailings/22/ico-vf.png" alt="" /><a href="tel:380509905904"><span class="red-tel">(050)</span> 990-59-04</a></li>
        </ul>
      </th>
    </tr>
  </tdbody>
 </table>
<!-- MENU START -->
<table class="row" style="width:600px;background-color:#ffe8ce">
 <tdbody>
  <tr style="width:600px;background-color:#ffe8ce;height:10px"></tr>  
  <tr>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/bedroom-sofino?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Spalnya&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/01.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto;"> Спальня</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-children?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=detskaya&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/02.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Детская</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-kitchen?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Kyhnya&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/03.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Кухня</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-room?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Gostinaya&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/04.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Гостиная</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-hallway?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=prihozhaya&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/05.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Прихожая</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-office?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Offisnaya&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/06.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Офисная мебель</a>
    </th>
    <th style="width:85px;height:55px;text-align:center">
      <a href="https://sofino.ua/goods-for-bathroom?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Vanna&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/07.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap:break-word;width:auto;"> Ванная</a>
    </th>
  </tr>
 </tdbody>
</table>                        
<!-- MENU END -->
<!-- DOSTAVKA/KREDIT START -->
<!-- <a href="" style="margin:0 0 20px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:565px">ВСЕ МАТРАСЫ</a> -->
<!-- 19 - оранжевый -->

<!-- <a href="https://sofino.ua/article/14?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=dostavka&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17" style="line-height:52px;vertical-align:middle;display:block;color:#fff;background:#8b3b8b;font-size:20px;text-align:center;font-weight:600;margin:0">БЕСПЛАТНАЯ ДОСТАВКА ПО ВСЕЙ УКРАИНЕ!</a> -->

<table style="width:600px">
 <tdbody>
  <tr>
   <th style="width:300px"><a href="https://sofino.ua/article/14?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=dostavka&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/delivery.gif" alt="" /></a></th>
   <th style="width:300"><a href="https://sofino.ua/article/536?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=rassr_kred&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/rassrochka.gif" alt="" /></a></th>  
  </tr>
 </tdbody>
</table>

<!-- DOSTAVKA/KREDIT END -->
<!-- CONTENT START -->
<center>

<a href="https://sofino.ua/myagkaya-mebel/rasprodaja-maykoy-mebeli?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=banner&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/banner.jpg" alt="" /></a>

<!-- <p class="hn"> -->

<p class="hn">Пружинный блок «Bonnel»</p>

<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/katun-divan-vojazh-1-6n-listik-1376-i-odnoton/g-251218?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_voyazh&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/05.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/vesta-divan-uglovojj-lord-1-9/g-204025?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_lord&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/06.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/zenit-color-divan-uglovojj-marsel-puf-color-grafit-emerald-ugol-7-podushki-iz-khollofajjbera/g-247552?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_marsel&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/07.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/katun-divan-knizhka-d-studio-lilak-i-bronks-lilak/g-148415?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_knizhkaD&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/08.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/katun-divan-aleks-1-4-kalifornija-70/g-148408?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_alex&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/09.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/zenit-color-divan-uglovojj-viktorija-bljuz-mdf-cr-brown-cream-ugol-g/g-260930?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_viktoriya&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/010.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<a href="https://sofino.ua/promotion/349?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=promo349&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/banner2.jpg" alt="" /></a>

<p class="hn">Наполнение ППУ</p>
<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/livs-divan-krovat-1-2-mekh-transform-vykatnojj-dp-ujut-5-120-189/g-249556_144224?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_yut5&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/011.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/livs-divan-krovat-mekh-transform-akkordeon-dp-samba-135-186/g-249467_144265?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_samba&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/012.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/livs-divan-krovat-1-06-mekh-transform-akkordeon-dp-amerikanka-2-106-194/g-249378_144218?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_amerika2&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/013.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<table style="background-repeat:no-repeat;margin:0 auto;display: table;background-image: url(https://i.sofino.ua/files/mailings/22/plashka.jpg);height: 145px;width:600px">
  <tdbody>
    <tr>
      <td style="padding-top: 15px;padding-left: 15px"><a class="soc-ico" href="https://sofino.ua/ofisnie-kresla-i-stulia?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Kresla&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/pl01.png" alt="" /></a><td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/zhurnalnyie-stoly?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Zhyrn_stolu&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/pl02.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/all-textiles?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Tekstil&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon04.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/ceramic-tile/tile-background?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Kafel&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon02.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Vse_akcii&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon06.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Vse_tovari&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon01.png" alt="" /></a></td>
    </tr>
  </tdbody>
</table>
<!-- 
4й айтем в плашке заменен с 

/icon05.png - Освещение | https://sofino.ua/lighting

на

/icon02.png - Кафель | https://sofino.ua/ceramic-tile/tile-background
-->

<p class="hn">Ламели + ППУ</p>
<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/katun-divan-forsazh-most-i-zamsha-terra/g-178527?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_forsazh&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/014.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/katun-divan-natali-1-2-mona-04-i-neo-dk-grejj/g-251234?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_natali&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/015.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/katun-divan-natali-1-2-mono-02-falkon-25/g-148418?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_natali2&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/016.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<p class="hn">Ламели + Синтепон</p>
<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/livs-divan-d-p-dodzh-2170-1020-960/g-168168?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_dodzh&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/017.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/livs-divan-krovat-mekh-transform-evroknizhka-dp-shpekh-m1-146-195/g-249573_144292?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=divan_mekh&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/018.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/livs-kreslo-krovat-0-8-mekh-transform-vykatnojjdp-ujut-4-80-189/g-249547?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=kreslo_divan_yut&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/019.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<div style="height:15px">
  <a href="https://sofino.ua/myagkaya-mebel/divani?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=vse_divanu&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17" class="link-right">ВСЕ ДИВАНЫ</a>
</div>

<div style="color:#1b70cf;display:block;margin:12px 0">
  СМОТРИТЕ БОЛЬШЕ ПРЕДЛОЖЕНИЙ НА НАШЕМ САЙТЕ <a style="color:#1b70cf;text-decoration:underline;font-weight:600" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=vse_tovaru&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17">SOFINO.COM</a>
</div>

</center>
<!-- CONTENT END -->
<!-- FOOTER START -->
<table class="bg-footer" style="width:600px">
  <tdbody>
    <tr>
      <th style="width:180px;padding: 10px 5px">
           <p class="text-left contact-us">СВЯЖИТЕСЬ С НАМИ</p>
           <p class="text-left numbers"><a style="color:#000" href="tel:380675550422"><span style="line-height:25px" class="text-black">(067)</span> 555-04-22</a></p>
           <p class="text-left numbers"><a style="color:#000" href="tel:380939764147"><span style="line-height:25px" class="text-black">(093)</span> 976-41-47</a></p>
           <p class="text-left numbers"><a style="color:#000" href="tel:380509905904"><span style="line-height:25px" class="text-black">(050)</span> 990-59-04</a></p>        
      </th>
      <th style="width:190px;padding: 10px 5px">
          <p class="yp">ЗВОНКИ СОГЛАСНО ВАШЕГО ТАРИФА</p>
           <p class="text-left small-text" style="margin-bottom:5px">тел.<a href="tel:0444988398" class="big-number"> 044 49 88 398</a></p>
           <p class="text-left small-text big-line-h">ООО «СОФИНО»</p>
           <p class="text-left small-text"> г.ДНЕПРОПЕТРОВСК,49069,ул.АРТЕМА 94 ЦЕНЫ НА САЙТЕ С УЧЕТОМ НДС</p>
      </th>
      <th style="width:170px;padding: 10px 5px">
           <p class="text-center follow-text">ПРИСОЕДИНЯЙТЕСЬ!</p>
            <span style="padding-left: 16px">
             <a class="soc-ico" href="https://vk.com/sofino_com_ua"><img class="pointer" src="https://i.sofino.ua/files/mailings/22/016.png" alt="" /></a>
             <a class="soc-ico" href="https://www.facebook.com/Sofino.com.ua/"><img class="pointer" src="https://i.sofino.ua/files/mailings/22/017.png" alt="" /></a>
             <a class="soc-ico" href="https://www.instagram.com/sofino.ua/"><img class="pointer" src="https://i.sofino.ua/files/mailings/22/018.png" alt=""/></a>
             <a class="soc-ico" href="https://www.youtube.com/channel/UC6HLCnK6BsVlJ21s_WPXTWA"><img class="pointer" src="https://i.sofino.ua/files/mailings/22/019.png" alt="yut"/></a>                              
            </span>
      </th>
    </tr>
  </tdbody>
</table>


<!-- 
<table style="background-repeat:no-repeat;margin:10px auto;display: table;background-image: url(https://i.sofino.ua/files/mailings/22/plashka.png);height: 149px;width:600px">
  <tdbody>
    <tr>
      <td style="padding-top: 15px;padding-left: 15px"><a class="soc-ico" href="https://sofino.ua/tile-background?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Kafel&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon02.png" alt="" /></a><td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/interior-doors-veneered?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Dveri&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon03.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/all-textiles?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Tekstil&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon04.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/lighting?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Osveshenie&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon05.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Vse_akcii&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon06.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Vse_tovari&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon01.png" alt="" /></a></td>
    </tr>
  </tdbody>
</table>



// NEW PLASHKA

<table style="background-repeat:no-repeat;margin:10px auto;display: table;background-image: url(https://i.sofino.ua/files/mailings/22/plashka.png);height: 149px;width:600px">
  <tdbody>
    <tr>
      <td style="padding-top: 15px;padding-left: 15px"><a class="soc-ico" href="https://sofino.ua/ofisnie-kresla-i-stulia?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Kresla&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/05.png" alt="" /></a><td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/zhurnalnyie-stoly?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Zhyrn_stolu&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/06.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/all-textiles?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Tekstil&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon04.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/lighting?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Osveshenie&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon05.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Vse_akcii&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon06.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Vse_tovari&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon01.png" alt="" /></a></td>
    </tr>
  </tdbody>
</table>

// NEW PLASHKA END


<row style="background-repeat:no-repeat;margin:10px auto" class="row-plashka" width="601" height="149" background="https://i.sofino.ua/files/mailings/22/plashka.png">
<columns small="12" large="12">
<spacer size="10"></spacer>         
<a class="soc-ico" href="https://sofino.ua/tile-background?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Kafel&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon02.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/interior-doors-veneered?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Dveri&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon03.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/all-textiles?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Tekstil&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon04.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/lighting?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Osveshenie&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon05.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Vse_akcii&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon06.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-23-03-2017&utm_term=Vse_tovari&utm_campaign=Rassilka68_Sof_Rassprodazha_Divanov_23_03_17"><img src="https://i.sofino.ua/files/mailings/22/icon01.png" alt="" /></a>
</columns>
</row> 

-->


            </td>
         </tr>
      </table>
       </center>
   </body>
</html>
