<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" href="styles.css">
   </head>
   <body class="new">
   <center>
      <table>
         <tr>
            <td>
 <table>
  <tdbody>
    <tr>
      <th style="width:300px">
        <a href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Logo&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/logo.png" alt="" /></a>
      </th>
      <th style="width:300px">
        <ul class="contact-list">
          <li><img src="https://i.sofino.ua/files/mailings/22/ico-ks.png" alt="" /><a href="tel:380675550422"><span class="red-tel">(067)</span> 555-04-22</a></li>
          <li><img src="https://i.sofino.ua/files/mailings/22/ico-life.png" alt="" /><a href="tel:380939764147"><span class="red-tel">(093)</span> 976-41-47</a></li>
          <li><img src="https://i.sofino.ua/files/mailings/22/ico-vf.png" alt="" /><a href="tel:380509905904"><span class="red-tel">(050)</span> 990-59-04</a></li>
        </ul>
      </th>
    </tr>
  </tdbody>
 </table>
<!-- MENU START -->
<table class="row" style="width:600px;background-color:#ffe8ce">
 <tdbody>
  <tr style="width:600px;background-color:#ffe8ce;height:10px"></tr>  
  <tr>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/bedroom-sofino?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Spalnya&utm_campaign=Rassilka75_RelaxPrice_28_04_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/01.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto;"> Спальня</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-children?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=detskaya&utm_campaign=Rassilka75_RelaxPrice_28_04_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/02.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Детская</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-kitchen?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Kyhnya&utm_campaign=Rassilka75_RelaxPrice_28_04_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/03.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Кухня</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-room?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Gostinaya&utm_campaign=Rassilka75_RelaxPrice_28_04_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/04.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Гостиная</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-hallway?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=prihozhaya&utm_campaign=Rassilka75_RelaxPrice_28_04_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/05.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Прихожая</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-office?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Offisnaya&utm_campaign=Rassilka75_RelaxPrice_28_04_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/06.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Офисная мебель</a>
    </th>
    <th style="width:85px;height:55px;text-align:center">
      <a href="https://sofino.ua/goods-for-bathroom?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Vanna&utm_campaign=Rassilka75_RelaxPrice_28_04_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://i.sofino.ua/files/mailings/22/07.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap:break-word;width:auto;"> Ванная</a>
    </th>
  </tr>
 </tdbody>
</table>                        
<!-- MENU END -->
<!-- DOSTAVKA/KREDIT START -->
<!-- <a href="" style="margin:0 0 20px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:565px">ВСЕ МАТРАСЫ</a> -->
<!-- 19 - оранжевый -->

<!-- <a href="https://sofino.ua/article/14?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=dostavka&utm_campaign=Rassilka75_RelaxPrice_28_04_17" style="line-height:52px;vertical-align:middle;display:block;color:#fff;background:#8b3b8b;font-size:20px;text-align:center;font-weight:600;margin:0">БЕСПЛАТНАЯ ДОСТАВКА ПО ВСЕЙ УКРАИНЕ!</a> -->

<table style="width:600px;margin:0 auto">
 <tdbody>
  <tr>
   <th style="width:300px"><a href="https://sofino.ua/article/14?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=dostavka&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/29/delivery.gif" alt="" /></a></th>
   <th style="width:300"><a href="https://sofino.ua/article/536?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=rassr_kred&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/29/rassrochka.gif" alt="" /></a></th>
  </tr>
 </tdbody>
</table>

<!-- DOSTAVKA/KREDIT END -->
<!-- CONTENT START -->
<center>

<a href="https://sofino.ua/?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=banner&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/banner.jpg" alt="" /></a>

<table style="width:600px;margin:1px auto 10px">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/promotion/373?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_373&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/03.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/promotion/355?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_355&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/04.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/promotion/368?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_368&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/05.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<!-- Товары -->
<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/pekhotin-prikhozhaja-alpina/g-252664?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=stenka_alpina&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/012.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/gerbor-stenka-lamija/g-18953?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=stenka_lamiya&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/013.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/pekhotin-prikhozhaja-rif/g-252681?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=prih_rif&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/014.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<!-- Промо -->
<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/promotion/372?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_372&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/06.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/promotion/371?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_371 &utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/07.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/promotion/368?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_368&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/08.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<!-- Товары -->
<p class="hn">Мягкая мебель</p>
<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/zenit-divan-viktorija-mdf/g-34302?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=divan_viktoriya&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/015.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/katun-divan-vojazh-1-6n-listik-1376-i-odnoton/g-251218?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=divan_voyazh&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/016.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/katun-divan-forsazh/g-143451?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=divan_forsazh&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/017.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<!-- Промо -->
<table style="width:600px;margin:10px auto 1px">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/promotion/401?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_401&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/09.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/promotion/408?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_408&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/010.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/promotion/413?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_413&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/011.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<table style="background-repeat:no-repeat;margin:0 auto;display: table;background-image: url(https://i.sofino.ua/files/mailings/22/plashka.jpg);height: 145px;width:600px">
  <tdbody>
    <tr>
      <td style="padding-top: 15px;padding-left: 15px"><a class="soc-ico" href="https://sofino.ua/ofisnie-kresla-i-stulia?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Kresla&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/pl01.png" alt="" /></a><td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/zhurnalnyie-stoly?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Zhyrn_stolu&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/pl02.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/all-textiles?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Tekstil&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon04.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/ceramic-tile/tile-background?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Kafel&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon02.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Vse_akcii&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon06.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Vse_tovari&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon01.png" alt="" /></a></td>
    </tr>
  </tdbody>
</table>

<!-- Товары -->
<p class="hn r">Матрасы по супер ценам</p>
<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/come-for-matras-delajjt-soft-88-180/g-265342?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=matras_delait&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/018.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/come-for-matras-expert-classic-80-190/g-111844?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=matras_expert_klasik&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/019.jpg" alt="" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/come-for-matras-klassik-80-190/g-21008?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=matras_klasik&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/020.jpg" alt="" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<a href="https://sofino.ua/promotion/339?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=promo_339&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/32/banner01.jpg" alt="" /></a>


<div style="color:#1b70cf;display:block;margin:12px 0">
  СМОТРИТЕ БОЛЬШЕ ПРЕДЛОЖЕНИЙ НА НАШЕМ САЙТЕ <a style="color:#1b70cf;text-decoration:underline;font-weight:600" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=vse_tovaru&utm_campaign=Rassilka75_RelaxPrice_28_04_17">SOFINO.UA</a>
</div>

</center>
<!-- CONTENT END -->
<!-- FOOTER START -->
<table class="footer-n">
  <tdbody>
    <!-- <tr height="25"></tr> -->
    <tr>
      <td>
        <div class="zv">
            <span class="u">ЗВОНКИ СОГЛАСНО ВАШЕГО ОПЕРАТОРА</span>
            <p class="tel"> тел.  <b>(044) 49-88-398</b></p>
        </div>
      </td>
      <td>  
        <div class="soc-box">
          <a href="https://vk.com/sofino_com_ua"><img src="https://i.sofino.ua/files/mailings/27/015.png" alt="" /></a>
          <a href="https://www.facebook.com/Sofino.com.ua"><img src="https://i.sofino.ua/files/mailings/27/016.png" alt="" /></a>
          <a href="https://plus.google.com/u/0/+SofinoUa"><img src="https://i.sofino.ua/files/mailings/27/017.png" alt="" /></a>
          <a href="https://www.youtube.com/channel/UC6HLCnK6BsVlJ21s_WPXTWA"><img src="https://i.sofino.ua/files/mailings/27/018.png" alt="" /></a>
        </div>
      </td>
    </tr>
  <tr>
        <td>
        <div class="cont">
          <div class="sp">
            <img src="https://i.sofino.ua/files/mailings/22/ico-ks.png" alt="" />
            <a href="tel:380675550422"><span class="red-tel">(067)</span> 555-04-22</a>
          </div>
          <div class="sp">
            <img src="https://i.sofino.ua/files/mailings/22/ico-life.png" alt="" />
            <a href="tel:380939764147"><span class="red-tel">(093)</span> 976-41-47</a>
          </div>
          <div class="sp">
            <img src="https://i.sofino.ua/files/mailings/22/ico-vf.png" alt="" />
          <a href="tel:380509905904"><span class="red-tel">(050)</span> 990-59-04</a>
          </div>
        </div>
      </td>

      <td>
      <div class="bottom-txt"">
        <p>ООО «Софино»</p>
        <p>г. ДНЕПР, 49069, ул. АРТЕМА 94 <br />ЦЕНЫ НА САЙТЕ С УЧЕТОМ НДС</p>
      </div>
      </td>
  </tr>

   <!-- <tr height="15"></tr> -->
  </tdbody>
</table>


<!-- 
<table style="background-repeat:no-repeat;margin:10px auto;display: table;background-image: url(https://i.sofino.ua/files/mailings/22/plashka.png);height: 149px;width:600px">
  <tdbody>
    <tr>
      <td style="padding-top: 15px;padding-left: 15px"><a class="soc-ico" href="https://sofino.ua/tile-background?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Kafel&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon02.png" alt="" /></a><td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/interior-doors-veneered?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Dveri&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon03.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/all-textiles?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Tekstil&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon04.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/lighting?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Osveshenie&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon05.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Vse_akcii&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon06.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Vse_tovari&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon01.png" alt="" /></a></td>
    </tr>
  </tdbody>
</table>




4й айтем в плашке заменен с 
/icon05.png - Освещение | https://sofino.ua/lighting
на
/icon02.png - Кафель | https://sofino.ua/ceramic-tile/tile-background



// NEW PLASHKA

<table style="background-repeat:no-repeat;margin:0 auto;display: table;background-image: url(https://i.sofino.ua/files/mailings/22/plashka.jpg);height: 145px;width:600px">
  <tdbody>
    <tr>
      <td style="padding-top: 15px;padding-left: 15px"><a class="soc-ico" href="https://sofino.ua/ofisnie-kresla-i-stulia?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Kresla&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/pl01.png" alt="" /></a><td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/zhurnalnyie-stoly?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Zhyrn_stolu&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/pl02.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/all-textiles?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Tekstil&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon04.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/ceramic-tile/tile-background?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Kafel&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon02.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Vse_akcii&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon06.png" alt="" /></a></td>
      <td style="padding-top: 15px"><a class="soc-ico" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Vse_tovari&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon01.png" alt="" /></a></td>
    </tr>
  </tdbody>
</table>

// NEW PLASHKA END


<row style="background-repeat:no-repeat;margin:10px auto" class="row-plashka" width="601" height="149" background="https://i.sofino.ua/files/mailings/22/plashka.png">
<columns small="12" large="12">
<spacer size="10"></spacer>         
<a class="soc-ico" href="https://sofino.ua/tile-background?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Kafel&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon02.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/interior-doors-veneered?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Dveri&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon03.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/all-textiles?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Tekstil&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon04.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/lighting?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Osveshenie&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon05.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/promotions?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Vse_akcii&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon06.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua?utm_source=feedgee&utm_medium=email&utm_content=mail-28-04-2017&utm_term=Vse_tovari&utm_campaign=Rassilka75_RelaxPrice_28_04_17"><img src="https://i.sofino.ua/files/mailings/22/icon01.png" alt="" /></a>
</columns>
</row> 

-->


            </td>
         </tr>
      </table>
       </center>
   </body>
</html>
