<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width"/>
  <link rel="stylesheet" href="styles.css">
   </head>
   <body>
   <center>
      <table>
         <tr>
            <td>
                     <table>
                      <tdbody>
                        <tr>
                          <th style="width:300px">
                            <a href="https://sofino.ua?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Logo&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/13/logo.png" alt="" /></a>
                          </th>
                          <th style="width:300px">
                            <a href="tel:0444988398"><img src="https://test1.oxis.com.ua/sofino/13/num.png" alt="" /></a>
                          </th>
                        </tr>
                      </tdbody>
                     </table>
<!-- MENU START -->
<table class="row" style="width:600px;background-color:#ffe8ce">
 <tdbody>
  <tr style="width:600px;background-color:#ffe8ce;height:10px"></tr>  
  <tr>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/bedroom-sofino?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Spalnya&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/5/01.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto;"> Спальня</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-children?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=detskaya&utm_campaign=Rassilka57_Spalni_25_01_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/5/02.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Детская</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-kitchen?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Kyhnya&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/5/03.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Кухня</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-room?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Gostinaya&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/5/04.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Гостиная</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-hallway?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=prihozhaya&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/5/05.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Прихожая</a>
    </th>
    <th style="width:85px;height:55px;text-align:center;border-right:1px solid #ffd0a6;padding-top:1px">
      <a href="https://sofino.ua/goods-for-office?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Offisnaya&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/5/06.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap: break-word;width:auto;"> Офисная мебель</a>
    </th>
    <th style="width:85px;height:55px;text-align:center">
      <a href="https://sofino.ua/goods-for-bathroom?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Vanna&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17" style="Margin:0;color:#000;font-family:Arial,sans-serif;font-weight:400;line-height:1;margin:0;padding:0;text-align:left;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/5/07.png" alt="" style="width:100%;-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;word-wrap:break-word;width:auto;"> Ванная</a>
    </th>
  </tr>
 </tdbody>
</table>                        
<!-- MENU END -->
<!-- DOSTAVKA/KREDIT START -->
<!-- <a href="" style="margin:0 0 20px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:565px">ВСЕ МАТРАСЫ</a> -->
<!-- 19 - оранжевый -->
<!-- <table style="width:600px;background-color:#f6ad00">
 <tdbody>
  <tr>
   <th style="width:292px"><a href="https://sofino.ua/article/14?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=dostavka&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/19/dostavka.gif" alt="" /></a></th>
   <th style="width:295px"><a href="https://sofino.ua/article/536?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=rassr_kred&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/19/rassrochka.gif" alt="" /></a></th>
  </tr>
 </tdbody>
</table> -->
<!-- DOSTAVKA/KREDIT END -->
<!-- CONTENT START -->
<center>
<!-- <a href="https://sofino.ua?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Banner&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/51/banner.jpg" alt="" /></a> -->

<!-- <table style="width:600px;margin-bottom:10px;padding-bottom: 15px;display: block;background:#00bdd9">
  <tdbody>
    <tr>
      <td style="width:300px">
        <a href="http://sofino.ua?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=banner&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/55/banner.png" alt="" style="margin:0 auto 0 -1px" /></a>
      </td>
      <td style="width:300px">
        <table>
          <tdbody>
            <tr>
              <td>
                <a href="https://sofino.ua/article/536?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=rassrochka&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/55/rassrochka.gif" alt="" style="margin:0 auto" /></a>
                <a href="https://sofino.ua/article/14?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=dostavka&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/55/dostavka.gif" alt="" style="margin:0 auto" /></a>
              </td>
            </tr>
            <tr>
                <td>
                  <a href="http://sofino.ua?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=banner&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/55/banner-btn.png" alt="" style="margin:35px auto 0 auto" /></a>
                </td>
            </tr>
          </tdbody>
        </table>
      </td>
    </tr>
  </tdbody>
</table> -->

<table style="width:600px;margin-bottom:10px;padding-bottom: 15px;background-color:#00adfd;display: block" height="315" background="https://test1.oxis.com.ua/sofino/57/banner1.png">
  <tdbody>
    <tr>
      <td style="width:300px">
<!--         <a href="http://sofino.ua?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=banner&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/55/banner.png" alt="" style="margin:0 auto 0 -1px" /></a> -->
      </td>
      <td style="width:300px">
        <table>
          <tdbody>
            <tr>
              <td>
                <a href="https://sofino.ua/article/536?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=rassrochka&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/57/rassrochka.gif" alt="" style="margin:0 auto" /></a>
                <a href="https://sofino.ua/article/14?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=dostavka&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/57/dostavka.gif" alt="" style="margin:0 auto" /></a>
              </td>
            </tr>
            <tr>
                <td>
                  <a href="http://sofino.ua?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=banner&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/57/btn.png" alt="" style="padding: 40px 60px" /></a>
                </td>
            </tr>
          </tdbody>
        </table>
      </td>
    </tr>
  </tdbody>
</table>

<!-- <a href="" style="margin:0 0 20px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:565px">ВСЕ МАТРАСЫ</a> -->

<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/svt-meblv-spalnja-6d-florencija/g-213436?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=spalnya_florenziya&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/01.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/svt-meblv-spalnja-3d-elegija-limba-shokolad-klen/g-213334?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=spalnya_elegiya&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/02.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/svt-meblv-spalnja-6d-venessa-svetlyjj-venge-lak/g-213495?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=spalnya_venessa&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/03.jpg" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<table style="width:600px;margin-top:10px">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/miromark-spalnja-flora-soft-vishnja-bjuzum/g-133301?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=spalnya_flora_soft&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/04.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/skf-spalnja-estel-140-190/g-134331?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=spalnya_estel&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/05.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/svt-meblv-spalnja-dvuspalnaja-palermo-zebrano/g-226928?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=spalnya_palermo&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/06.jpg" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>

<a href="https://sofino.ua/bedroom?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=vse_spalni&utm_campaign=Rassilka57_Spalni_25_01_17" style="margin:0 0 10px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:590px">ВСЕ СПАЛЬНИ</a>

<a href="https://sofino.ua/mebel-servis-stenka-kongo/g-16663?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=stenka_kongo&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/57/001.jpg" alt="" /></a>

<table style="width:600px;margin-top:10px">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/melbi-krovat-venecija-ljuks-140-200-bordo/g-222516?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=krovat_veneciya_lux&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/07.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/melbi-krovat-emili-160-200-chernyjj-nozhki-orekh/g-212854?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=krovat_emili&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/08.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/drimka-krovat-karlson-80-190-buk-jashhiki/g-230325?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=krovat_karlson&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/09.jpg" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>
<a href="https://sofino.ua/krovati?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=vse_krovati&utm_campaign=Rassilka57_Spalni_25_01_17" style="margin:0 0 20px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:590px">ВСЕ КРОВАТИ</a>

<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/sleep-fly-matras-organic-omega-70-190/g-6260?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=matras_organic_omega&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/010.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/sleep-fly-matras-daily-2v1-70-190/g-14153?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=matras_daily2in1&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/011.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/come-for-tonkijj-matras-khelp-70-190/g-21508?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=matras_tinkiy_help&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/012.jpg" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>
<a href="https://sofino.ua/ortopedicheskie-matrasy?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=vse_matrasu&utm_campaign=Rassilka57_Spalni_25_01_17" style="margin:0 0 20px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:590px">ВСЕ МАТРАСЫ</a>
<!-- <p style="color:#542675;font-size:21px;padding-left:18px">ПРИХОЖИЕ</p> -->

<!-- <span style="font-size:16px;display:block;margin:25px auto;text-transform:uppercase;color:#377394">Больше предложений смотрите на нашем сайте <a style="color:red;text-decoration:underline;font-weight:600" href="https://sofino.ua?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=bolwe_tovarov&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17">sofino.ua</a></span> -->
<a href="https://sofino.ua/promotion/320?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=promo_320&utm_campaign=Rassilka57_Spalni_25_01_17"><img src="https://test1.oxis.com.ua/sofino/57/svit.jpg" alt="" /></a>

<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/km-ljuks-shkaf-3-dveri-dsp-zerkalo-dsp-razmer-1800-450-2100/g-138241?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=shkaf1_persei&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/013.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/km-ljuks-shkaf-3-dveri-dsp-dsp-dsp-razmer-1800-450-2100/g-138185?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=shkaf2_persei&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/014.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/km-ljuks-shkaf-2-dveri-dsp-peskostrujj-razmer-1000-450-2100/g-136980?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=shkaf3_persei&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/016.jpg" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>
<a href="https://sofino.ua/shkafy-kupe?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=vse_shkafu&utm_campaign=Rassilka57_Spalni_25_01_17" style="margin:0 0 20px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:590px">ВСЕ ШКАФЫ</a>

<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/kompanit-komod-4-2-2-buk/g-202065?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=komod_422&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/017.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/smf-komod-simfonija-buk/g-230339?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=komod_simfoniya&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/018.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/artmebel-komod-elit-jablonja/g-153406?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=komod_elit&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/019.jpg" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>
<a href="https://sofino.ua/wide-chest-of-drawers?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=vse_komodu&utm_campaign=Rassilka57_Spalni_25_01_17" style="margin:0 0 20px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:590px">ВСЕ КОМОДЫ</a>

<table style="width:600px;margin:10px auto">
  <tdbody>
    <tr>
      <td style="width:200px"><a href="https://sofino.ua/tep-odejalo-ecoblanc-qa-standard-210-150/g-101954?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=odeyalo_eco&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/020.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/tep-podushka-kholofajjber-50-70/g-102097?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=podyshka_holofaiber&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/021.jpg" style="margin:0 auto" /></a></td>
      <td style="width:200px"><a href="https://sofino.ua/home-line-prostynja-makhrovaja-110448-na-rezinke-90-200-p-150/g-37159?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=prostunya_mahrovaya&utm_campaign=Rassilka57_Spalni_25_01_17"><img alt="" src="https://test1.oxis.com.ua/sofino/57/002.jpg" style="margin:0 auto" /></a></td>
    </tr>
  </tdbody>
</table>
<a href="https://sofino.ua/all-textiles?utm_source=Rassilka&utm_medium=mail-25-01-2017&utm_content=ves_textil&utm_campaign=Rassilka57_Spalni_25_01_17" style="margin:0 0 20px 0;text-align:right;font-size:13px;color:#387cd2;text-decoration:underline;font-weight:600;display:block;width:590px">ВЕСЬ ТЕКСТИЛЬ</a>
</center>
<!-- CONTENT END -->
<!-- FOOTER START -->
<table class="bg-footer" style="width:600px">
  <tdbody>
    <tr>
      <th style="width:180px;padding: 10px">
                           <p class="text-left contact-us">СВЯЖИТЕСЬ С НАМИ</p>
                           <p class="text-left numbers"><a style="color:#000" href="tel:380675550422"><span style="line-height:25px" class="text-black">(067)</span> 555-04-22</a></p>
                           <p class="text-left numbers"><a style="color:#000" href="tel:380939764147"><span style="line-height:25px" class="text-black">(093)</span> 976-41-47</a></p>
                           <p class="text-left numbers"><a style="color:#000" href="tel:380509905904"><span style="line-height:25px" class="text-black">(050)</span> 990-59-04</a></p>        
      </th>
      <th style="width:190px;padding: 10px">
                           <p class="text-left contact-us-black">ВСЕ ЗВОНКИ БЕСПЛАТНЫЕ!</p>
                           <p class="text-left small-text">тел.<a href="tel:0444988398" class="big-number"> 044 49 88 398</a></p>
                           <p class="text-left small-text big-line-h">ООО «СОФИНО»</p>
                           <p class="text-left small-text"> г.ДНЕПРОПЕТРОВСК,49069,ул.АРТЕМА 94 ЦЕНЫ НА САЙТЕ С УЧЕТОМ НДС</p>        
      </th>
      <th style="width:170px;padding: 10px">
                           <p class="text-center follow-text">ПРИСОЕДИНЯЙТЕСЬ!</p>
                            <span style="padding-left: 16px">
                             <a class="soc-ico" href="https://vk.com/sofino_com_ua"><img class="pointer" src="https://test1.oxis.com.ua/sofino/5/016.png" alt="" /></a>
                             <a class="soc-ico" href="https://www.facebook.com/Sofino.com.ua/"><img class="pointer" src="https://test1.oxis.com.ua/sofino/5/017.png" alt="" /></a>
                             <a class="soc-ico" href="https://www.instagram.com/sofino.ua/"><img class="pointer" src="https://test1.oxis.com.ua/sofino/5/018.png" alt=""/></a>
                             <a class="soc-ico" href="https://www.youtube.com/channel/UC6HLCnK6BsVlJ21s_WPXTWA"><img class="pointer" src="https://test1.oxis.com.ua/sofino/5/019.png" alt="yut"/></a>                              
                            </span>
      </th>
    </tr>
  </tdbody>
</table>

<!-- 
<row style="background-repeat:no-repeat;margin:20px auto" class="row-plashka" width="601" height="149" background="https://test1.oxis.com.ua/sofino/1/plashka.png">
<columns small="12" large="12">
<spacer size="10"></spacer>         
<a class="soc-ico" href="https://sofino.ua/tile-background?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Kafel&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/1/icon02.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/interior-doors-veneered?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Dveri&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/1/icon03.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/all-textiles?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Tekstil&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/1/icon04.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/lighting?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Osveshenie&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/1/icon05.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua/promotions?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Vse_akcii&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/1/icon06.png" alt="" /></a>
<a class="soc-ico" href="https://sofino.ua?utm_source=Rassilka&utm_medium=mail-05-01-2017&utm_content=Vse_tovari&utm_campaign=Rassilka51_Sof_SuperCenu_05_01_17"><img src="https://test1.oxis.com.ua/sofino/1/icon01.png" alt="" /></a>
</columns>
</row>
 -->

            </td>
         </tr>
      </table>
       </center>
   </body>
</html>
