
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
</head>

<body style="-moz-box-sizing:border-box;-ms-text-size-adjust:100%;-webkit-box-sizing:border-box;-webkit-text-size-adjust:100%;Margin:0;box-sizing:border-box;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;min-width:100%;padding:0;text-align:left;width:100%!important">
    <table class="body" style="Margin:0;background:#f3f3f3;border-collapse:collapse;border-spacing:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;height:100%;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;width:100%">
        <tbody>
            <tr style="padding:0;text-align:left;vertical-align:top">
                <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
                    <center data-parsed="" style="min-width:580px;width:100%">
                        <table align="center" class="container float-center" style="Margin:0 auto;background:#fefefe;border-collapse:collapse;border-spacing:0;float:none;margin:0 auto;padding:0;text-align:center;vertical-align:top;width:600px">
                            <tbody>
                                <tr style="padding:0;text-align:left;vertical-align:top">
                                    <td style="-moz-hyphens:auto;-webkit-hyphens:auto;Margin:0;border-collapse:collapse!important;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;hyphens:auto;line-height:19px;margin:0;padding:0;text-align:left;vertical-align:top;word-wrap:break-word">
<center>
    <a target="_blank" href="https://meblis.ua/?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Logo&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/4/logo-top.png" alt="" /></a>
</center>                                        
<!-- MENU START -->                                        
<center>
<table style="width:600px;font-size:14px;background-color:#f8f8f8;">
	<tdbody>
		<tr>
			<th style="width:80px">
				<a target="_blank" href="https://meblis.ua/spalna-kimnata?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Spalnya&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" target="_blank" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/4/01.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Спальня</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a target="_blank" href="https://meblis.ua/ditacha-kimnata?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Detskaya&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" target="_blank" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/4/02.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Дитяча</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a target="_blank" href="https://meblis.ua/vitalna?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Vitalnya&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" target="_blank" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/4/03.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Вітальня</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a target="_blank" href="https://meblis.ua/kuhonni-mebli?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Kyhnya&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" target="_blank" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/4/04.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Кухня</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a target="_blank" href="https://meblis.ua/peredpokii?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Prihozhaya&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" target="_blank" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/4/05.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Передпокій</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:95px">
				<a target="_blank" href="https://meblis.ua/ofisni-mebli?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Ofisnue_mebli&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" target="_blank" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/4/06.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Офісні меблі</span></a>
			</th>
			<th style="border-left:1px solid #e1e1e1;width:85px">
				<a target="_blank" href="https://meblis.ua/vanna-kimnata?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Vanna&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" target="_blank" style="Margin:0;color:#000!important;font-family:Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/4/07.png" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"><span style="display:inline-block;text-align:center;width:100%">Ванна</span></a>
			</th>
		</tr>
	</tdbody>
</table>
</center>
<table style="width:600px;display:block;margin:0 auto;border-spacing:0">
	<tdbody>
		<tr>
		<!-- ;background:#ff100d -->
			<th style="width:300px">
                <a target="_blank" href="https://meblis.ua/promotions?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Akcii&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img class="p12" src="https://test1.oxis.com.ua/sofino/56/promo.gif" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
                <!-- 10/delivery.png -->
			</th>
			<!-- ;background:#0062c0 -->
			<th style="width:300px">
				<a target="_blank" href="https://meblis.ua/article/1?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=Dostavka&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img class="p12" src="https://test1.oxis.com.ua/sofino/56/dostavka.gif" alt="" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:block;margin:0 auto;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
				<!-- 4/rassrochka-meb.png -->
			</th>
		</tr>
	</tdbody>
</table> 
<!-- MENU END -->
<!-- CONTENT START -->                                        
<center>

<a href="https://meblis.ua?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=banner&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img style="margin-bottom: 10px;" src="https://test1.oxis.com.ua/sofino/56/banner.jpg" alt="" /></a>

<!-- <p style="color:#562902;font-size:21px;padding-left:10px;text-align:left;font-weight:600">ЧТОТО</p> -->

<table style="width:600px;margin-top:10px">
	<tdbody>
		<tr>
			<td style="width:300px"><a href="https://meblis.ua/matratsi-ortopedichni?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=vse_matrasu&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/05.png" alt="" style="margin:0 auto" /></a></td>
			<td style="width:300px"><a href="https://meblis.ua/product-1069?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=baby_soft&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/09.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/matratsi-ortopedichni?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=vse_matrasu&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" style="margin:0 0 20px 0;text-align:left;font-size:16px;color:#175fc0;text-decoration:underline;font-weight:900;display:block;width:580px">ВСІ МАТРАЦИ</a>

<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:300px"><a href="https://meblis.ua/product-725?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=matras_help&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/010.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:300px"><a href="https://meblis.ua/product-1138?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=matras_organic&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/011.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>

<table style="width:600px;margin-top:10px">
	<tdbody>
		<tr>
			<td style="width:300px"><a href="https://meblis.ua/lizhka?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=vse_krovati&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/06.png" alt="" style="margin:0 auto" /></a></td>
			<td style="width:300px"><a href="https://meblis.ua/product-4261?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=krovat_morfei&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/012.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/lizhka?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=vse_krovati&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" style="margin:0 0 20px 0;text-align:left;font-size:16px;color:#175fc0;text-decoration:underline;font-weight:900;display:block;width:580px">ВСІ ЛІЖКА</a>

<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:300px"><a href="https://meblis.ua/product-6031?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=krovat_disney&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/013.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:300px"><a href="https://meblis.ua/product-7750_34843?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=kinder_tyrbo&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/014.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>

<a href="https://meblis.ua/article/13?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=rassrochka&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/021.jpg" alt="" /></a>

<table style="width:600px;margin-top:10px">
	<tdbody>
		<tr>
			<td style="width:300px"><a href="https://meblis.ua/vitalna?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=ttttttttttttttttt&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/07.png" alt="" style="margin:0 auto" /></a></td>
			<td style="width:300px"><a href="https://meblis.ua/product-54001?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=korp_safo&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/015.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/vitalna?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=vse_vitalna&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" style="margin:0 0 20px 0;text-align:left;font-size:16px;color:#175fc0;text-decoration:underline;font-weight:900;display:block;width:580px">ВСІ МЕБЛІ У ВІТАЛЬНЮ</a>

<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:300px"><a href="https://meblis.ua/product-62073?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=ksh_6&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/016.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:300px"><a href="https://meblis.ua/product-27742?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=shafa_2dveri&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/017.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>

<table style="width:600px;margin-top:10px">
	<tdbody>
		<tr>
			<td style="width:300px"><a href="https://meblis.ua/tekstyl?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=ves_textil&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/08.png" alt="" style="margin:0 auto" /></a></td>
			<td style="width:300px"><a href="https://meblis.ua/product-93865?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=podyshka_570&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/018.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>
<a href="https://meblis.ua/tekstyl?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=ves_textil&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17" style="margin:0 0 20px 0;text-align:left;font-size:16px;color:#175fc0;text-decoration:underline;font-weight:900;display:block;width:580px">ВЕСЬ ТЕКСТИЛЬ</a>

<table style="width:600px;margin:10px auto">
	<tdbody>
		<tr>
			<td style="width:300px"><a href="https://meblis.ua/product-9229?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=odeyalo_446&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/019.jpg" alt="" style="margin:0 auto" /></a></td>
			<td style="width:300px"><a href="https://meblis.ua/product-9782?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=baroko&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17"><img src="https://test1.oxis.com.ua/sofino/56/020.jpg" alt="" style="margin:0 auto" /></a></td>
		</tr>
	</tdbody>
</table>

<span style="margin:20px 0;display:block">Ще більше пропозицій для вас на нашому сайті <a style="color:#2453ab" href="https://meblis.ua?utm_source=Rassilka&utm_medium=mail-19-01-2017&utm_content=bolshe_tavorov&utm_campaign=Rassilka55_MeblisHitProdazh_19_01_17">meblis.ua</a></span>

</center>
<!-- CONTENT END -->
<!-- FOOTER START -->
<table style="background-color:#ebebeb;width:600px;display:block;margin: 0 auto">
 <tdbody>
  <tr>
   <th style="width:225px;padding:10px 0"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/4/meb.png" alt="" /></th>
   <th style="width:175px;padding:10px 0"><img style="margin:0 auto" src="https://test1.oxis.com.ua/sofino/46/t.png" alt="" /></th>
   <th style="width:150px;Margin:0;color:#0a0a0a;font-family:Helvetica,Arial,sans-serif;font-size:16px;font-weight:400;line-height:19px;margin:0;padding:10px 0;text-align:left"><img style="display: block;margin-left: auto;" src="https://test1.oxis.com.ua/sofino/4/follow-us.png" alt="" style="margin:0 auto;padding-left:30px;-ms-interpolation-mode:bicubic;clear:both;display:block;max-width:100%;outline:0;text-decoration:none;width:auto">
    	<a target="_blank" href="https://vk.com/meblis_ua" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/4/013.png" alt="" class="inb margin-img" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;margin-left:40px;margin-top:10px;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
    	<a target="_blank" href="https://www.facebook.com/meblis.ua" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/4/014.png" alt="" class="inb" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
    	<a target="_blank" href="https://www.instagram.com/meblis.ua" style="Margin:0;color:#2199e8;font-family:Helvetica,Arial,sans-serif;font-weight:400;line-height:1.3;margin:0;padding:0;text-decoration:none"><img src="https://test1.oxis.com.ua/sofino/4/015.png" alt="" class="inb" style="-ms-interpolation-mode:bicubic;border:none;clear:both;display:inline-block;max-width:100%;outline:0;text-decoration:none;width:auto"></a>
	</th>
  </tr>
 </tdbody>
</table>
<!-- FOOTER END -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </center>
                </td>
            </tr>
        </tbody>
    </table>
</body>

</html>

